<ul class="filelist">
{{#nodes}}
    <li class="{{className}}" fullpath="{{path}}">
        <span title="{{fullFileName}}" class="filename">{{shortFileName}}</span><span class="filesize">{{size}}</span>
    </li>
{{/nodes}}
</ul>